{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<h2 class="text-center">Now its time to talk over the song. Click Start Recording below to
    start recording. You will be stopped after {{context.length}} seconds.</h2>
<div class="text-center">
  <audio id="audioboy" controls autoplay style="display:none;"></audio>
  <br>
  <script type="text/javascript" src="{{url_for('static', filename='js/recorder.js')}}">
  </script>

  <input class="btn btn-default" onclick="startRecording(); setTimeout(stopRecording, {{context.lengthms}})" type="button" value="start recording" />
  <input onclick="stopRecording({{context.lengthms}})" type="button" value="Stop" class="btn btn-default" />
  <br>
  <!-- <form action="" method=post enctype=multipart/form-data>
    <input type="file" id="hidden" name="file" style="display:none;" />
  </form> -->
  <!-- <button class="btn btn-default" id="upfile" style="display:none;" onclick="uploadtalking()">Upload Talking!</button> -->
</div>
{% endblock %}
{% block js %}
  <script>
    var onFail = function(e) {
      console.log('Rejected!', e);
    };

    var onSuccess = function(s) {
      var context = new webkitAudioContext();
      var mediaStreamSource = context.createMediaStreamSource(s);
      recorder = new Recorder(mediaStreamSource);
      recorder.record();

      // audio loopback
      // mediaStreamSource.connect(context.destination);
    }

    window.URL = window.URL || window.webkitURL;
    navigator.getUserMedia  = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;

    var recorder;
    var audio = document.querySelector('audio');
    // var upfile = document.getElementById('upfile');


    function uploadAudioFromBlob(blob)
    {
        var reader = new FileReader();

        // this is triggered once the blob is read and readAsDataURL returns
        reader.onload = function (event)
        {
            var formData = new FormData();
            formData.append('audio', event.target.result);
            $.ajax({
                type: 'POST'
                , url: '/uploadtalk/talky.wav'
                , data: formData
                , processData: false
                , contentType: false
                , dataType: 'application/json'
                , cache: false
                , success: function (json)
                {
                    if (json.Success)
                    {
                        // do successful audio upload stuff
                    }
                    else
                    {
                        // handle audio upload failure reported
                        // back from server (I have a json.Error.Msg)
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown)
                {
                    alert('Error! '+ textStatus + ' - ' + errorThrown + '\n\n' + jqXHR.responseText);
                    // handle audio upload failure
                }
            });
        }
        reader.readAsDataURL(blob);
    }

    function startRecording() {
      if (navigator.getUserMedia) {
        navigator.getUserMedia({audio: true}, onSuccess, onFail);
      } else {
        console.log('navigator.getUserMedia not present');
      }
    }

    function stopRecording() {
      audio.style.display='block';
      // upfile.style.display='block';
      recorder.stop();
      recorder.exportWAV(function(s) {
        var hidden_elem = document.getElementById("hidden");
        // uploadAudioFromBlob(s);
        var fd = new FormData();
        // fd.append('fname', 'test.wav');
        fd.append('file', s, 'newfile.wav');
        $.ajax({
            type: 'POST',
            url: '/uploadtalk',
            data: fd,
            processData: false,
            contentType: false
        }).done(function(data) {
               console.log(data);
        });
        audio.src = window.URL.createObjectURL(s);
        // hidden_elem.value = window.URL.createObjectURL(s);
        alert('DONE');
      });
    }
  </script>

{% endblock %}
